{% extends 'news/base.html' %}

{% block title %}
<p>
    {{title}}
</p>
{% endblock %}

{% block content %}

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam beatae commodi consequuntur eius id, ipsam
    iusto laudantium magnam, magni nulla officiis omnis pariatur possimus provident reprehenderit sapiente ullam
    voluptatibus.
</p>

<p>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam beatae commodi consequuntur eius id, ipsam
    iusto laudantium magnam, magni nulla officiis omnis pariatur possimus provident reprehenderit sapiente ullam
    voluptatibus.
</p>

{% endblock %}