{% extends 'news/base.html' %}

{% block title %}
<p>
    {{title}}
</p>
{% endblock %}


{% block content %}

<form action="{% url 'addpost' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--    {{ form.as_p }}-->

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for item in form %}
    <div class="mb-3">
        <p class="form_item">
            <label for="{{ item.id_for_label }}">{{ item.label }}:</label>
            {{ item }}
        </p>
        <div class="form-error">{{item.errors}}</div>
    </div>
    {% endfor %}
    <button type="submit">Send</button>

</form>

{% endblock %}